# Classification Exercises

### Data Acquisition Exercises

#### 4. In a jupyter notebook, `classification_exercises.ipynb`, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, `df_iris`, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [1]:
# import modules
from pydataset import data
import pandas as pd
# assign iris data to variable
df_iris = data('iris')
# print first 3 rows
print('First three rows:\n',df_iris.head(3),'\n',('-'*60))
# print shape
print('Shape(rows, columns):\n',df_iris.shape, '\n',('-'*60))
# print column names
print('Column Names:\n',df_iris.columns.to_list(),'\n',('-'*60))
# print data types
print('Data Types:\n',df_iris.dtypes,'\n',('-'*60)) # could also use .info() to get data types and more
# print summary statistics
print('Summary Statistics:\n',df_iris.describe().T)

First three rows:
    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
 ------------------------------------------------------------
Shape(rows, columns):
 (150, 5)
 ------------------------------------------------------------
Column Names:
 ['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']
 ------------------------------------------------------------
Data Types:
 Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object
 ------------------------------------------------------------
Summary Statistics:
               count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

***Note: good practice to clean up data so instead of columns like 'Sepal.Length' you have 'sepal_length'***

#### 5. Read the `Table1_CustDetails` table from the `Excel_Exercises.xlsx` file into a dataframe named `df_excel`.
- assign the first 100 rows to a new dataframe, `df_excel_sample`
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of `object`
- compute the range for each of the numeric variables.

In [2]:
# read excel file into dataframe
df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')
# assign first 100 rows to new dataframe
df_excel_sample = df_excel.head(100)
# print number of rows of df_excel
print('Number of rows in original dataframe (df_excel):\n',len(df_excel),'\n',('-'*60))
# print first 5 column names
print('First 5 column names:\n',df_excel.columns[:5].to_list(),'\n',('-'*60))
# print column names with dtype= 'object'
print('Column names with object data types:\n',df_excel.select_dtypes(include='object').columns.to_list())

Number of rows in original dataframe (df_excel):
 7049
 ------------------------------------------------------------
First 5 column names:
 ['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']
 ------------------------------------------------------------
Column names with object data types:
 ['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

In [3]:
# compute the range for each of the numeric variables
# get summary stats for numerical variables
summary_stats = df_excel[['monthly_charges', 'total_charges']].describe().T
# create new column to calculate range
summary_stats['range'] = summary_stats['max'] - summary_stats['min']
# print ranges
print('Ranges for each of the numerical variables:\n',summary_stats['range'])

Ranges for each of the numerical variables:
 monthly_charges     100.5
total_charges      8666.0
Name: range, dtype: float64

#### 6. Read the data from this google sheet into a dataframe, `df_google`

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [4]:
# assign url to variable
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
# edit url to be exported
export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
# read csv into dataframe
df_google = pd.read_csv(export_url)

In [5]:
# print first 3 rows
print('First three rows:')
df_google.head(3)

First three rows:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [6]:
# print rows/cols
print('Number of rows and columns:')
df_google.shape

Number of rows and columns:

(891, 12)

In [7]:
# print col names
print('Column names:')
df_google.columns.to_list()

Column names:

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [8]:
# print data types
print('Data types of each column:')
df_google.dtypes

Data types of each column:

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
# print summary stats
print('Summary statistics:')
df_google.describe()

Summary statistics:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
# print number of unique values for 'O'-type variables
print('Number of unique values for variables with an \'object\' data type:')
for col in df_google.columns:
    if df_google[col].dtypes == 'O':
        print(f'{col}: {df_google[col].nunique()} unique values')

Number of unique values for variables with an 'object' data type:
Name: 891 unique values
Sex: 2 unique values
Ticket: 681 unique values
Cabin: 147 unique values
Embarked: 3 unique values

Looking at the counts of unique values of object-type columns, I will not list the unique values of those columns with very large amounts of unique variables. I will, however, list the unique values of columns that have numerical values representing categorical information (Survived and Pclass).

In [11]:
# print unique values for categorical variables
print('Unique values for categorical variables:')
print('Survived: ',list(df_google.Survived.unique()))
print('Pclass: ',list(df_google.Pclass.unique()))
print('Sex: ',list(df_google.Sex.unique()))
print('Embarked: ',list(df_google.Embarked.unique()))

Unique values for categorical variables:
Survived:  [0, 1]
Pclass:  [3, 1, 2]
Sex:  ['male', 'female']
Embarked:  ['S', 'C', 'Q', nan]

#### The complete solutions to the final four questions are in acquire.py

Make a function named `get_titanic_data` that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [12]:
from env import host, user, password
import os
def get_url(db):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_titanic_data():
    if os.path.isfile('titanic.csv'):
        return pd.read_csv('titanic.csv', index_col=0)
    else:
        titanic = pd.read_sql('SELECT * FROM passengers', get_url('titanic_db'))
        titanic.to_csv('titanic.csv')
        return titanic

In [13]:
get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

Make a function named `get_iris_data` that returns the data from the `iris_db` on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the `species_id`s. Obtain your data from the Codeup Data Science Database.

In [14]:
def get_iris_data():
    iris = pd.read_sql('SELECT * FROM measurements JOIN species USING(species_id)', get_url('iris_db'))
    return iris
get_iris_data()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa
5,1,6,5.4,3.9,1.7,0.4,setosa
6,1,7,4.6,3.4,1.4,0.3,setosa
7,1,8,5.0,3.4,1.5,0.2,setosa
8,1,9,4.4,2.9,1.4,0.2,setosa
9,1,10,4.9,3.1,1.5,0.1,setosa
10,1,11,5.4,3.7,1.5,0.2,setosa
11,1,12,4.8,3.4,1.6,0.2,setosa
12,1,13,4.8,3.0,1.4,0.1,setosa
13,1,14,4.3,3.0,1.1,0.1,setosa
14,1,15,5.8,4.0,1.2,0.2,setosa
15,1,16,5.7,4.4,1.5,0.4,setosa
16,1,17,5.4,3.9,1.3,0.4,setosa
17,1,18,5.1,3.5,1.4,0.3,setosa
18,1,19,5.7,3.8,1.7,0.3,setosa
19,1,20,5.1,3.8,1.5,0.3,setosa
20,1,21,5.4,3.4,1.7,0.2,setosa
21,1,22,5.1,3.7,1.5,0.4,setosa
22,1,23,4.6,3.6,1.0,0.2,setosa
23,1,24,5.1,3.3,1.7,0.5,setosa
24,1,25,4.8,3.4,1.9,0.2,setosa
25,1,26,5.0,3.0,1.6,0.2,setosa
26,1,27,5.0,3.4,1.6,0.4,setosa
27,1,28,5.2,3.5,1.5,0.2,setosa
28,1,29,5.2,3.4,1.4,0.2,setosa
29,1,30,4.7,3.2,1.6,0.2,setosa
30,1,31,4.8,3.1,1.6,0.2,setosa
31,1,32,5.4,3.4,1.5,0.4,setosa
32,1,33,5.2,4.1,1.5,0.1,setosa
33,1,34,5.5,4.2,1.4,0.2,setosa
34,1,35,4.9,3.1,1.5,0.2,setosa
35,1,36,5.0,3.2,1.2,0.2,setosa
36,1,37,5.5,3.5,1.3,0.2,setosa
37,1,38,4.9,3.6,1.4,0.1,setosa
38,1,39,4.4,3.0,1.3,0.2,setosa
39,1,40,5.1,3.4,1.5,0.2,setosa
40,1,41,5.0,3.5,1.3,0.3,setosa
41,1,42,4.5,2.3,1.3,0.3,setosa
42,1,43,4.4,3.2,1.3,0.2,setosa
43,1,44,5.0,3.5,1.6,0.6,setosa
44,1,45,5.1,3.8,1.9,0.4,setosa
45,1,46,4.8,3.0,1.4,0.3,setosa
46,1,47,5.1,3.8,1.6,0.2,setosa
47,1,48,4.6,3.2,1.4,0.2,setosa
48,1,49,5.3,3.7,1.5,0.2,setosa
49,1,50,5.0,3.3,1.4,0.2,setosa
50,2,51,7.0,3.2,4.7,1.4,versicolor
51,2,52,6.4,3.2,4.5,1.5,versicolor
52,2,53,6.9,3.1,4.9,1.5,versicolor
53,2,54,5.5,2.3,4.0,1.3,versicolor
54,2,55,6.5,2.8,4.6,1.5,versicolor
55,2,56,5.7,2.8,4.5,1.3,versicolor
56,2,57,6.3,3.3,4.7,1.6,versicolor
57,2,58,4.9,2.4,3.3,1.0,versicolor
58,2,59,6.6,2.9,4.6,1.3,versicolor
59,2,60,5.2,2.7,3.9,1.4,versicolor
60,2,61,5.0,2.0,3.5,1.0,versicolor
61,2,62,5.9,3.0,4.2,1.5,versicolor
62,2,63,6.0,2.2,4.0,1.0,versicolor
63,2,64,6.1,2.9,4.7,1.4,versicolor
64,2,65,5.6,2.9,3.6,1.3,versicolor
65,2,66,6.7,3.1,4.4,1.4,versicolor
66,2,67,5.6,3.0,4.5,1.5,versicolor
67,2,68,5.8,2.7,4.1,1.0,versicolor
68,2,69,6.2,2.2,4.5,1.5,versicolor
69,2,70,5.6,2.5,3.9,1.1,versicolor
70,2,71,5.9,3.2,4.8,1.8,versicolor
71,2,72,6.1,2.8,4.0,1.3,versicolor
72,2,73,6.3,2.5,4.9,1.5,versicolor
73,2,74,6.1,2.8,4.7,1.2,versicolor
74,2,75,6.4,2.9,4.3,1.3,versicolor
75,2,76,6.6,3.0,4.4,1.4,versicolor
76,2,77,6.8,2.8,4.8,1.4,versicolor
77,2,78,6.7,3.0,5.0,1.7,versicolor
78,2,79,6.0,2.9,4.5,1.5,versicolor
79,2,80,5.7,2.6,3.5,1.0,versicolor
80,2,81,5.5,2.4,3.8,1.1,versicolor
81,2,82,5.5,2.4,3.7,1.0,versicolor
82,2,83,5.8,2.7,3.9,1.2,versicolor
83,2,84,6.0,2.7,5.1,1.6,versicolor
84,2,85,5.4,3.0,4.5,1.5,versicolor
85,2,86,6.0,3.4,4.5,1.6,versicolor
86,2,87,6.7,3.1,4.7,1.5,versicolor
87,2,88,6.3,2.3,4.4,1.3,versicolor
88,2,89,5.6,3.0,4.1,1.3,versicolor
89,2,90,5.5,2.5,4.0,1.3,versicolor
90,2,91,5.5,2.6,4.4,1.2,versicolor
91,2,92,6.1,3.0,4.6,1.4,versicolor
92,2,93,5.8,2.6,4.0,1.2,versicolor
93,2,94,5.0,2.3,3.3,1.0,versicolor
94,2,95,5.6,2.7,4.2,1.3,versicolor
95,2,96,5.7,3.0,4.2,1.2,versicolor
96,2,97,5.7,2.9,4.2,1.3,versicolor
97,2,98,6.2,2.9,4.3,1.3,versicolor
98,2,99,5.1,2.5,3.0,1.1,versicolor
99,2,100,5.7,2.8,4.1,1.3,versicolor
100,3,101,6.3,3.3,6.0,2.5,virginica
101,3,102,5.8,2.7,5.1,1.9,virginica
102,3,103,7.1,3.0,5.9,2.1,virginica
103,3,104,6.3,2.9,5.6,1.8,virginica
104,3,105,6.5,3.0,5.8,2.2,virginica
105,3,106,7.6,3.0,6.6,2.1,virginica
106,3,107,4.9,2.5,4.5,1.7,virginica
107,3,108,7.3,2.9,6.3,1.8,virginica
108,3,109,6.7,2.5,5.8,1.8,virginica
109,3,110,7.2,3.6,6.1,2.5,virginica
110,3,111,6.5,3.2,5.1,2.0,virginica
111,3,112,6.4,2.7,5.3,1.9,virginica
112,3,113,6.8,3.0,5.5,2.1,virginica
113,3,114,5.7,2.5,5.0,2.0,virginica
114,3,115,5.8,2.8,5.1,2.4,virginica
115,3,116,6.4,3.2,5.3,2.3,virginica
116,3,117,6.5,3.0,5.5,1.8,virginica
117,3,118,7.7,3.8,6.7,2.2,virginica
118,3,119,7.7,2.6,6.9,2.3,virginica
119,3,120,6.0,2.2,5.0,1.5,virginica
120,3,121,6.9,3.2,5.7,2.3,virginica
121,3,122,5.6,2.8,4.9,2.0,virginica
122,3,123,7.7,2.8,6.7,2.0,virginica
123,3,124,6.3,2.7,4.9,1.8,virginica
124,3,125,6.7,3.3,5.7,2.1,virginica
125,3,126,7.2,3.2,6.0,1.8,virginica
126,3,127,6.2,2.8,4.8,1.8,virginica
127,3,128,6.1,3.0,4.9,1.8,virginica
128,3,129,6.4,2.8,5.6,2.1,virginica
129,3,130,7.2,3.0,5.8,1.6,virginica
130,3,131,7.4,2.8,6.1,1.9,virginica
131,3,132,7.9,3.8,6.4,2.0,virginica
132,3,133,6.4,2.8,5.6,2.2,virginica
133,3,134,6.3,2.8,5.1,1.5,virginica
134,3,135,6.1,2.6,5.6,1.4,virginica
135,3,136,7.7,3.0,6.1,2.3,virginica
136,3,137,6.3,3.4,5.6,2.4,virginica
137,3,138,6.4,3.1,5.5,1.8,virginica
138,3,139,6.0,3.0,4.8,1.8,virginica
139,3,140,6.9,3.1,5.4,2.1,virginica
140,3,141,6.7,3.1,5.6,2.4,virginica
141,3,142,6.9,3.1,5.1,2.3,virginica
142,3,143,5.8,2.7,5.1,1.9,virginica
143,3,144,6.8,3.2,5.9,2.3,virginica
144,3,145,6.7,3.3,5.7,2.5,virginica
145,3,146,6.7,3.0,5.2,2.3,virginica
146,3,147,6.3,2.5,5.0,1.9,virginica
147,3,148,6.5,3.0,5.2,2.0,virginica
148,3,149,6.2,3.4,5.4,2.3,virginica
149,3,150,5.9,3.0,5.1,1.8,virginica

Make a function named `get_telco_data` that returns the data from the `telco_churn` database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [15]:
def get_telco_data():
    sql = '''
    SELECT *
    FROM customers
    JOIN contract_types USING(contract_type_id)
    JOIN internet_service_types USING(internet_service_type_id)
    JOIN payment_types USING(payment_type_id)
    '''
    telco = pd.read_sql(sql, get_url('telco_churn'))
    return telco
get_telco_data()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,3,1,9962-BFPDU,Female,0,Yes,Yes,1,Yes,...,No internet service,No internet service,No internet service,No,20.05,20.05,No,Month-to-month,None,Mailed check
7039,2,3,1,9967-ATRFS,Female,0,No,No,19,Yes,...,No internet service,No internet service,No internet service,No,19.90,367.55,No,Month-to-month,None,Mailed check
7040,4,3,1,9970-QBCDA,Female,0,No,No,6,Yes,...,No internet service,No internet service,No internet service,No,19.70,129.55,No,Month-to-month,None,Credit card (automatic)
7041,2,3,1,9975-SKRNR,Male,0,No,No,1,Yes,...,No internet service,No internet service,No internet service,No,18.90,18.9,No,Month-to-month,None,Mailed check
7042,3,3,1,9986-BONCE,Female,0,No,No,4,Yes,...,No internet service,No internet service,No internet service,No,20.95,85.5,Yes,Month-to-month,None,Bank transfer (automatic)

### Data Preparation Exercises

#### *Using the Iris Data:*

#### 1. Use the function defined in `acquire.py` to load the iris data.

In [16]:
import acquire
iris = acquire.get_iris_data()
iris.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

#### 2. Drop the `species_id` and `measurement_id` columns.

In [17]:
iris = iris.drop(columns = ['species_id', 'measurement_id'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa
2           4.7          3.2           1.3          0.2       setosa
3           4.6          3.1           1.5          0.2       setosa
4           5.0          3.6           1.4          0.2       setosa

#### 3. Rename the `species_name` column to just `species`.

In [18]:
iris.rename(columns={'species_name':'species'}, inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### 4. Create dummy variables of the species name and concatenate onto the iris dataframe.

In [19]:
dummies = pd.get_dummies(iris['species'])
iris = pd.concat([iris, dummies], axis=1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0

#### 5. Create a function named `prep_iris` that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [20]:
def prep_iris(iris):
    iris = iris.drop(columns = ['species_id', 'measurement_id'])
    iris.rename(columns={'species_name':'species'}, inplace=True)
    dummies = pd.get_dummies(iris['species'])
    iris = pd.concat([iris, dummies], axis=1)
    return iris

In [21]:
iris = acquire.get_iris_data()
prep_iris(iris)

,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0
5,5.4,3.9,1.7,0.4,setosa,1,0,0
6,4.6,3.4,1.4,0.3,setosa,1,0,0
7,5.0,3.4,1.5,0.2,setosa,1,0,0
8,4.4,2.9,1.4,0.2,setosa,1,0,0
9,4.9,3.1,1.5,0.1,setosa,1,0,0
10,5.4,3.7,1.5,0.2,setosa,1,0,0
11,4.8,3.4,1.6,0.2,setosa,1,0,0
12,4.8,3.0,1.4,0.1,setosa,1,0,0
13,4.3,3.0,1.1,0.1,setosa,1,0,0
14,5.8,4.0,1.2,0.2,setosa,1,0,0
15,5.7,4.4,1.5,0.4,setosa,1,0,0
16,5.4,3.9,1.3,0.4,setosa,1,0,0
17,5.1,3.5,1.4,0.3,setosa,1,0,0
18,5.7,3.8,1.7,0.3,setosa,1,0,0
19,5.1,3.8,1.5,0.3,setosa,1,0,0
20,5.4,3.4,1.7,0.2,setosa,1,0,0
21,5.1,3.7,1.5,0.4,setosa,1,0,0
22,4.6,3.6,1.0,0.2,setosa,1,0,0
23,5.1,3.3,1.7,0.5,setosa,1,0,0
24,4.8,3.4,1.9,0.2,setosa,1,0,0
25,5.0,3.0,1.6,0.2,setosa,1,0,0
26,5.0,3.4,1.6,0.4,setosa,1,0,0
27,5.2,3.5,1.5,0.2,setosa,1,0,0
28,5.2,3.4,1.4,0.2,setosa,1,0,0
29,4.7,3.2,1.6,0.2,setosa,1,0,0
30,4.8,3.1,1.6,0.2,setosa,1,0,0
31,5.4,3.4,1.5,0.4,setosa,1,0,0
32,5.2,4.1,1.5,0.1,setosa,1,0,0
33,5.5,4.2,1.4,0.2,setosa,1,0,0
34,4.9,3.1,1.5,0.2,setosa,1,0,0
35,5.0,3.2,1.2,0.2,setosa,1,0,0
36,5.5,3.5,1.3,0.2,setosa,1,0,0
37,4.9,3.6,1.4,0.1,setosa,1,0,0
38,4.4,3.0,1.3,0.2,setosa,1,0,0
39,5.1,3.4,1.5,0.2,setosa,1,0,0
40,5.0,3.5,1.3,0.3,setosa,1,0,0
41,4.5,2.3,1.3,0.3,setosa,1,0,0
42,4.4,3.2,1.3,0.2,setosa,1,0,0
43,5.0,3.5,1.6,0.6,setosa,1,0,0
44,5.1,3.8,1.9,0.4,setosa,1,0,0
45,4.8,3.0,1.4,0.3,setosa,1,0,0
46,5.1,3.8,1.6,0.2,setosa,1,0,0
47,4.6,3.2,1.4,0.2,setosa,1,0,0
48,5.3,3.7,1.5,0.2,setosa,1,0,0
49,5.0,3.3,1.4,0.2,setosa,1,0,0
50,7.0,3.2,4.7,1.4,versicolor,0,1,0
51,6.4,3.2,4.5,1.5,versicolor,0,1,0
52,6.9,3.1,4.9,1.5,versicolor,0,1,0
53,5.5,2.3,4.0,1.3,versicolor,0,1,0
54,6.5,2.8,4.6,1.5,versicolor,0,1,0
55,5.7,2.8,4.5,1.3,versicolor,0,1,0
56,6.3,3.3,4.7,1.6,versicolor,0,1,0
57,4.9,2.4,3.3,1.0,versicolor,0,1,0
58,6.6,2.9,4.6,1.3,versicolor,0,1,0
59,5.2,2.7,3.9,1.4,versicolor,0,1,0
60,5.0,2.0,3.5,1.0,versicolor,0,1,0
61,5.9,3.0,4.2,1.5,versicolor,0,1,0
62,6.0,2.2,4.0,1.0,versicolor,0,1,0
63,6.1,2.9,4.7,1.4,versicolor,0,1,0
64,5.6,2.9,3.6,1.3,versicolor,0,1,0
65,6.7,3.1,4.4,1.4,versicolor,0,1,0
66,5.6,3.0,4.5,1.5,versicolor,0,1,0
67,5.8,2.7,4.1,1.0,versicolor,0,1,0
68,6.2,2.2,4.5,1.5,versicolor,0,1,0
69,5.6,2.5,3.9,1.1,versicolor,0,1,0
70,5.9,3.2,4.8,1.8,versicolor,0,1,0
71,6.1,2.8,4.0,1.3,versicolor,0,1,0
72,6.3,2.5,4.9,1.5,versicolor,0,1,0
73,6.1,2.8,4.7,1.2,versicolor,0,1,0
74,6.4,2.9,4.3,1.3,versicolor,0,1,0
75,6.6,3.0,4.4,1.4,versicolor,0,1,0
76,6.8,2.8,4.8,1.4,versicolor,0,1,0
77,6.7,3.0,5.0,1.7,versicolor,0,1,0
78,6.0,2.9,4.5,1.5,versicolor,0,1,0
79,5.7,2.6,3.5,1.0,versicolor,0,1,0
80,5.5,2.4,3.8,1.1,versicolor,0,1,0
81,5.5,2.4,3.7,1.0,versicolor,0,1,0
82,5.8,2.7,3.9,1.2,versicolor,0,1,0
83,6.0,2.7,5.1,1.6,versicolor,0,1,0
84,5.4,3.0,4.5,1.5,versicolor,0,1,0
85,6.0,3.4,4.5,1.6,versicolor,0,1,0
86,6.7,3.1,4.7,1.5,versicolor,0,1,0
87,6.3,2.3,4.4,1.3,versicolor,0,1,0
88,5.6,3.0,4.1,1.3,versicolor,0,1,0
89,5.5,2.5,4.0,1.3,versicolor,0,1,0
90,5.5,2.6,4.4,1.2,versicolor,0,1,0
91,6.1,3.0,4.6,1.4,versicolor,0,1,0
92,5.8,2.6,4.0,1.2,versicolor,0,1,0
93,5.0,2.3,3.3,1.0,versicolor,0,1,0
94,5.6,2.7,4.2,1.3,versicolor,0,1,0
95,5.7,3.0,4.2,1.2,versicolor,0,1,0
96,5.7,2.9,4.2,1.3,versicolor,0,1,0
97,6.2,2.9,4.3,1.3,versicolor,0,1,0
98,5.1,2.5,3.0,1.1,versicolor,0,1,0
99,5.7,2.8,4.1,1.3,versicolor,0,1,0
100,6.3,3.3,6.0,2.5,virginica,0,0,1
101,5.8,2.7,5.1,1.9,virginica,0,0,1
102,7.1,3.0,5.9,2.1,virginica,0,0,1
103,6.3,2.9,5.6,1.8,virginica,0,0,1
104,6.5,3.0,5.8,2.2,virginica,0,0,1
105,7.6,3.0,6.6,2.1,virginica,0,0,1
106,4.9,2.5,4.5,1.7,virginica,0,0,1
107,7.3,2.9,6.3,1.8,virginica,0,0,1
108,6.7,2.5,5.8,1.8,virginica,0,0,1
109,7.2,3.6,6.1,2.5,virginica,0,0,1
110,6.5,3.2,5.1,2.0,virginica,0,0,1
111,6.4,2.7,5.3,1.9,virginica,0,0,1
112,6.8,3.0,5.5,2.1,virginica,0,0,1
113,5.7,2.5,5.0,2.0,virginica,0,0,1
114,5.8,2.8,5.1,2.4,virginica,0,0,1
115,6.4,3.2,5.3,2.3,virginica,0,0,1
116,6.5,3.0,5.5,1.8,virginica,0,0,1
117,7.7,3.8,6.7,2.2,virginica,0,0,1
118,7.7,2.6,6.9,2.3,virginica,0,0,1
119,6.0,2.2,5.0,1.5,virginica,0,0,1
120,6.9,3.2,5.7,2.3,virginica,0,0,1
121,5.6,2.8,4.9,2.0,virginica,0,0,1
122,7.7,2.8,6.7,2.0,virginica,0,0,1
123,6.3,2.7,4.9,1.8,virginica,0,0,1
124,6.7,3.3,5.7,2.1,virginica,0,0,1
125,7.2,3.2,6.0,1.8,virginica,0,0,1
126,6.2,2.8,4.8,1.8,virginica,0,0,1
127,6.1,3.0,4.9,1.8,virginica,0,0,1
128,6.4,2.8,5.6,2.1,virginica,0,0,1
129,7.2,3.0,5.8,1.6,virginica,0,0,1
130,7.4,2.8,6.1,1.9,virginica,0,0,1
131,7.9,3.8,6.4,2.0,virginica,0,0,1
132,6.4,2.8,5.6,2.2,virginica,0,0,1
133,6.3,2.8,5.1,1.5,virginica,0,0,1
134,6.1,2.6,5.6,1.4,virginica,0,0,1
135,7.7,3.0,6.1,2.3,virginica,0,0,1
136,6.3,3.4,5.6,2.4,virginica,0,0,1
137,6.4,3.1,5.5,1.8,virginica,0,0,1
138,6.0,3.0,4.8,1.8,virginica,0,0,1
139,6.9,3.1,5.4,2.1,virginica,0,0,1
140,6.7,3.1,5.6,2.4,virginica,0,0,1
141,6.9,3.1,5.1,2.3,virginica,0,0,1
142,5.8,2.7,5.1,1.9,virginica,0,0,1
143,6.8,3.2,5.9,2.3,virginica,0,0,1
144,6.7,3.3,5.7,2.5,virginica,0,0,1
145,6.7,3.0,5.2,2.3,virginica,0,0,1
146,6.3,2.5,5.0,1.9,virginica,0,0,1
147,6.5,3.0,5.2,2.0,virginica,0,0,1
148,6.2,3.4,5.4,2.3,virginica,0,0,1
149,5.9,3.0,5.1,1.8,virginica,0,0,1

#### *Using the Titanic dataset*

#### 1. Use the function defined in `acquire.py` to load the Titanic data.

In [22]:
titanic = acquire.get_titanic_data()
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

#### 2. Drop any unnecessary, unhelpful, or duplicated columns.

I dropped 'passenger_id' because it is the same as the index, 'pclass' because it is the same as 'class', and 'embarked' because it is the same as 'embark_town'. I debated whether to remove 'alone' because it seemed as though the sum of its values would be the same as the number of zero values in the 'sibsp' column, but the totals did not match so I decided not to drop 'alone'.

In [23]:
titanic = titanic.drop(columns=['passenger_id', 'pclass', 'embarked'])
titanic.head()

,survived,sex,age,sibsp,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,NaN,Southampton,0
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,0
2,1,female,26.0,0,0,7.9250,Third,NaN,Southampton,1
3,1,female,35.0,1,0,53.1000,First,C,Southampton,0
4,0,male,35.0,0,0,8.0500,Third,NaN,Southampton,1

#### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [24]:
dummies = pd.get_dummies(titanic[['class', 'embark_town', 'sex']], drop_first=True)
dummies.head()

,class_Second,class_Third,embark_town_Queenstown,embark_town_Southampton,sex_male
0,0,1,0,1,1
1,0,0,0,0,0
2,0,1,0,1,0
3,0,0,0,1,0
4,0,1,0,1,1

In [25]:
titanic = pd.concat([titanic, dummies], axis=1)
titanic.head()

,survived,sex,age,sibsp,parch,fare,class,deck,embark_town,alone,class_Second,class_Third,embark_town_Queenstown,embark_town_Southampton,sex_male
0,0,male,22.0,1,0,7.2500,Third,NaN,Southampton,0,0,1,0,1,1
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,0,0,0,0,0,0
2,1,female,26.0,0,0,7.9250,Third,NaN,Southampton,1,0,1,0,1,0
3,1,female,35.0,1,0,53.1000,First,C,Southampton,0,0,0,0,1,0
4,0,male,35.0,0,0,8.0500,Third,NaN,Southampton,1,0,1,0,1,1

#### 4. Create a function named `prep_titanic` that accepts the raw titanic data, and returns the data with the transformations above applied.

In [26]:
def prep_titanic(titanic):
    titanic = titanic.drop(columns=['passenger_id', 'pclass', 'embarked'])
    dummies = pd.get_dummies(titanic[['class', 'embark_town', 'sex']], drop_first=True)
    titanic = pd.concat([titanic, dummies], axis=1)
    return titanic

In [27]:
titanic = acquire.get_titanic_data()
prep_titanic(titanic)

,survived,sex,age,sibsp,parch,fare,class,deck,embark_town,alone,class_Second,class_Third,embark_town_Queenstown,embark_town_Southampton,sex_male
0,0,male,22.0,1,0,7.2500,Third,NaN,Southampton,0,0,1,0,1,1
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,0,0,0,0,0,0
2,1,female,26.0,0,0,7.9250,Third,NaN,Southampton,1,0,1,0,1,0
3,1,female,35.0,1,0,53.1000,First,C,Southampton,0,0,0,0,1,0
4,0,male,35.0,0,0,8.0500,Third,NaN,Southampton,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,male,27.0,0,0,13.0000,Second,NaN,Southampton,1,1,0,0,1,1
887,1,female,19.0,0,0,30.0000,First,B,Southampton,1,0,0,0,1,0
888,0,female,NaN,1,2,23.4500,Third,NaN,Southampton,0,0,1,0,1,0
889,1,male,26.0,0,0,30.0000,First,C,Cherbourg,1,0,0,0,0,1
890,0,male,32.0,0,0,7.7500,Third,NaN,Queenstown,1,0,1,1,0,1

#### *Using the Telco dataset*

#### 1. Use the function defined in `acquire.py` to load the Telco data.

In [28]:
telco = acquire.get_telco_data()
telco.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)

#### 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [29]:
telco = telco.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id'])
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0016-QLJIS,Female,0,Yes,Yes,65,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,0017-DINOC,Male,0,No,No,54,No,No phone service,Yes,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,0019-GFNTW,Female,0,No,No,56,No,No phone service,Yes,Yes,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,0056-EPFBG,Male,0,Yes,Yes,20,No,No phone service,Yes,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,0078-XZMHT,Male,0,Yes,No,72,Yes,Yes,No,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)

#### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [30]:
dummies = pd.get_dummies(telco[['gender', 'contract_type', 'internet_service_type', 'payment_type']], drop_first=True)
dummies.head()

,gender_Male,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,0,1,0,0,0,0,1
1,1,0,1,0,0,1,0,0
2,0,0,1,0,0,0,0,0
3,1,0,1,0,0,1,0,0
4,1,0,1,0,0,0,0,0

In [31]:
telco = pd.concat([telco, dummies], axis=1)
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,internet_service_type,payment_type,gender_Male,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0016-QLJIS,Female,0,Yes,Yes,65,Yes,Yes,Yes,Yes,...,DSL,Mailed check,0,0,1,0,0,0,0,1
1,0017-DINOC,Male,0,No,No,54,No,No phone service,Yes,No,...,DSL,Credit card (automatic),1,0,1,0,0,1,0,0
2,0019-GFNTW,Female,0,No,No,56,No,No phone service,Yes,Yes,...,DSL,Bank transfer (automatic),0,0,1,0,0,0,0,0
3,0056-EPFBG,Male,0,Yes,Yes,20,No,No phone service,Yes,No,...,DSL,Credit card (automatic),1,0,1,0,0,1,0,0
4,0078-XZMHT,Male,0,Yes,No,72,Yes,Yes,No,Yes,...,DSL,Bank transfer (automatic),1,0,1,0,0,0,0,0

#### 4. Create a function named `prep_telco` that accepts the raw telco data, and returns the data with the transformations above applied.

In [32]:
def prep_telco(telco):
    telco = telco.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id'])
    dummies = pd.get_dummies(telco[['gender', 'contract_type', 'internet_service_type', 'payment_type']], drop_first=True)
    telco = pd.concat([telco, dummies], axis=1)
    return telco

In [33]:
telco = acquire.get_telco_data()
prep_telco(telco)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,internet_service_type,payment_type,gender_Male,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0016-QLJIS,Female,0,Yes,Yes,65,Yes,Yes,Yes,Yes,...,DSL,Mailed check,0,0,1,0,0,0,0,1
1,0017-DINOC,Male,0,No,No,54,No,No phone service,Yes,No,...,DSL,Credit card (automatic),1,0,1,0,0,1,0,0
2,0019-GFNTW,Female,0,No,No,56,No,No phone service,Yes,Yes,...,DSL,Bank transfer (automatic),0,0,1,0,0,0,0,0
3,0056-EPFBG,Male,0,Yes,Yes,20,No,No phone service,Yes,No,...,DSL,Credit card (automatic),1,0,1,0,0,1,0,0
4,0078-XZMHT,Male,0,Yes,No,72,Yes,Yes,No,Yes,...,DSL,Bank transfer (automatic),1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9962-BFPDU,Female,0,Yes,Yes,1,Yes,No,No internet service,No internet service,...,None,Mailed check,0,0,0,0,1,0,0,1
7039,9967-ATRFS,Female,0,No,No,19,Yes,No,No internet service,No internet service,...,None,Mailed check,0,0,0,0,1,0,0,1
7040,9970-QBCDA,Female,0,No,No,6,Yes,No,No internet service,No internet service,...,None,Credit card (automatic),0,0,0,0,1,1,0,0
7041,9975-SKRNR,Male,0,No,No,1,Yes,No,No internet service,No internet service,...,None,Mailed check,1,0,0,0,1,0,0,1
7042,9986-BONCE,Female,0,No,No,4,Yes,No,No internet service,No internet service,...,None,Bank transfer (automatic),0,0,0,0,1,0,0,0